<div class="container">

    <div class="page-header text-center">
        <strong>{{pagetitle}}</strong>
    </div>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="jumbotron">
                <span class="text-left">

                    <p>

                     <a target="_blank" href="http://metawall.inbeta.no/#jz2014">MetaWall</a> og
                    <a target="_blank" href="http://metagramadmin.inbeta.no/">MetaGram-admin</a>
                     er utviklet av Inmeta Consulting AS.

                     <br/>
                     <br/>

                    Programmene er laget for å vise og administrere og moderere innhold opprettet i mobil-appen
                     MetaGram.

                     <br/>
                     <br/>

                     Henvendelser om apper og løsning kan gjøres til <a target="_blank" href="http://www.inmeta.no">Inmeta
                    Consulting</a>:

                     <br/>
                     <span style="font-size: 0.8em">
                         Sandakerveien 114 A, 0484 Oslo
                         <br> Pb 4384 Nydalen, N-0402 Oslo

                         Telefon: 23 00 67 00 / 22 89 10 00
                         <br>E-post: <a title="post@inmeta.no" href="mailto:post@inmeta.no">post@inmeta.no</a>
                     </span>
                    </p>
             </span>
            </div>

            <div class="jumbotron">
                <h3>Last ned appen her</h3>

                <div class="row">
                    <div class="container text-center">
                        <a target="_blank"
                           href="https://play.google.com/store/apps/details?id=no.inmeta.metagram&hl=no">
                            <img src="images/google_play_store_icon.png" alt="last ned på google play store"/>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <br/>

                    <div class="container text-center">
                        <a target="_blank" href="https://itunes.apple.com/no/app/metagram/id880929752?mt=8">
                            <img src="images/App-Store-Icon.png" alt="last ned på app store"/>
                        </a>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="container text-center">
                        <a target="_blank"
                           href="http://www.windowsphone.com/nb-no/store/app/metagram/4ad93b61-f785-4c69-b1ed-8bfe4659507f">
                            <img src="images/windows-store-icon.png" alt="last ned på windows phone store"/>
                        </a>
                    </div>
                </div>
            </div>

            <div class="bs-callout bs-callout-warning">

                <h4>Denne siden bruker informasjonskapsler (cookies)</h4>

                <p>
                    Informasjonskapsler er små tekstfiler som lagres på datamaskinen din når du besøker visse
                    webområder. Her på MetaWall bruker vi kun informasjonskapsler for å lagre arrangementskoden. </p>

                <p> Vær oppmerksom på at informasjonskapslen vår ikke kan skade datamaskinen din. </p>

                <p> Datamaskinen, nettbrettet eller mobiltelefonen kan bare få fullt utbytte av innholdet og de
                    tilpassede funksjonene ved å godta informasjonskapsler </p>

                <p> Informasjonskapslene våre lagrer ikke sensitive opplysninger som navn, adresse eller
                    betalingsinformasjon. Hvis du imidlertid ønsker å begrense, blokkere eller slette
                    informasjonskapslene fra MetaGram eller andre webområder, kan du gjøre dette ved hjelp av
                    nettleseren. Alle nettlesere er forskjellige, derfor bør du bruke nettleserens Hjelp-meny (eller
                    brukerveiledningen for mobiltelefonen) for å finne ut hvordan du endrer innstillingene for
                    informasjonskapsler.

                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

