<div class="container">

    <div ng-show="spinner">
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>

    <div ng-hide="spinner" class="page-header text-center">
        <strong>{{pagetitle}}</strong>
    </div>

    <div ng-hide="spinner" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div ng-repeat="(name, gram) in grams | reverse">
                <div class="row">
                    <div class="jumbotron col-md-10 col-md-offset-2">
                        <div id="grams_{{name}}">

                            <div class="row">
                                <span class="gram-name {{ blocked[gram.name] > 0 ? 'blocked-user' : '' }}">{{ gram.name }}</span>
                            </div>
                            <div class="row">
                                <img ng-src="{{gram.base64.indexOf(',')!=-1 ? gram.base64 : 'data:image/jpeg;base64,' + gram.base64}}"
                                     width="256" height="256"/><br/>
                            </div>
                            <div class="row">
                        <span class="{{ blocked[gram.name] > 0 ? 'blocked-user' : '' }}"
                              ng-show="blocked[gram.name] > 0">Blokkert: {{ blocked[gram.name] | date:'medium' }}</span>
                                <span class="{{ reported[name] > 0 ? 'blocked-user' : '' }}" ng-show="reported[name]>0"> rapportert: {{ reported[name] | date:'medium' }}</span>
                                <span class="pull-left">postet: {{ gram.timestamp | date:'short' }}</span>
                                <span class="pull-right">likes: {{ gram.votes }}</span>
                            </div>
                            <div class="row buttons">
                                <button title="Blokkér"
                                        class="btn btn-md btn-inbeta"
                                        ng-click="blockUser(gram.name)">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <button title="Lik"
                                        class="btn btn-md btn-inbeta"
                                        ng-click="likeTheGram(artifexId, name)">
                                    <span ng-class="likeImage(name)"></span>
                                </button>

                                <button title="Rapportér"
                                        class="btn btn-md btn-inbeta"
                                        ng-click="reportGram(name)">
                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                </button>

                                <button title="Slett"
                                        class="btn btn-md btn-inbeta"
                                        ng-click="deleteTheGram(artifexId, name)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

