<div class="container">

    <div class="page-header text-center">
        <strong>{{pagetitle}}</strong>
    </div>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="jumbotron">
                <h3>Innstillinger</h3>
                <div class="form-group navbar-form">
                    <div class="row">
                        <div class="row">
                            <input name="event" type="text" ng-class="noEvent" class="form-control"
                                   placeholder="{{ eventCode ? eventCode : 'Sett arrangement' }}" ng-model="newEvent">

                            <button title="Blokkér"
                                    class="btn btn-md btn-inbeta"
                                    ng-click="setEvent()">
                                <span class="glyphicon glyphicon-picture"></span>
                            </button>
                        </div>

                        <br/>

                        <div class="row">
                            <input type="text" class="form-control"
                                   placeholder="{{ artifexId ? artifexId : 'Sett bruker' }}" ng-model="newUser">

                            <button title="Blokkér"
                                    class="btn btn-md btn-inbeta"
                                    ng-click="setUser()">
                                <span class="glyphicon glyphicon-user"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-2"></div>
</div>

