<div class="container">

    <div ng-show="spinner">
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>

    <div ng-hide="spinner" class="page-header text-center">
        <strong>{{pagetitle}}</strong>
    </div>

    <div ng-hide="spinner" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div ng-repeat="(id, usr) in artifex">
                <div id="users_{{ usr.name }}">
                    <div style="display: inline-block">
                        <button class="btn btn-md btn-inbeta"
                                ng-click="blockUser(id)"
                                ng-hide="usr.blocked >0">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </button>
                        <button class="btn btn-md btn-inbeta"
                                ng-click="unblockUser(id)"
                                ng-show="usr.blocked >0">
                            <span class="glyphicon glyphicon-hand-up"></span>
                        </button>
                    </div>
                    <span class="{{ usr.blocked >0 ? 'blocked-user' : '' }}">{{ id }} {{ usr.blocked | date:'medium' }} {{ usr.phone !='' ? ' (' + usr.phone + ')' : '' }}</span>
                </div>
                <br/>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

